.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.preloader{
  position: absolute;
  margin: auto;
  top: 50vh;
  bottom: 50vh;
  left: 0;
  right: 0;
}

.post-card{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: background .5s linear;
  min-height: 410px;
  max-height: 410px;
}
.card-action{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 70px;
  max-height: 70px;
}
.card-content{
  overflow: auto;
  min-height: 340px;
  max-height: 340px;
}

.comment-user{
  border-left: 4px solid white;
  padding-left: 1rem;
}